<div class="container">
  <!-- Static navbar -->
  <div class="navbar">
    <!-- <div class="navbar-header"> -->
      <ul class="nav nav-pills">
        <li>
          <a class="navbar-brand" href="../">Home</a>
        </li>
        <li>
          <a class="navbar-brand" href="./src/pdf/programma-fisica-biotecnologie.pdf" analytics-on analytics-category="Command" analytics-event="Download">Programma del corso di Fisica</a>
        </li>
      </ul>
  </div>
  <div class="jumbotron">
    <h2>Fisica per il CdL in Biotecnologie</h2>
    <div class="well"><h4>Teoria</h4>
      <a ui-sref="slides.unit" class="btn btn-lg btn-primary">Grandezze fisiche</a>
      <a ui-sref="slides.kinematic" class="btn btn-lg btn-primary">Cinematica</a>
      <a ui-sref="slides.mechanic" class="btn btn-lg btn-primary">Meccanica del punto materiale</a>
      <a ui-sref="slides.work" class="btn btn-lg btn-primary">Lavoro/Energia Meccanica</a>
      <hr>
      <a ui-sref="slides.fluid" class="btn btn-lg btn-warning">Fluido dinamica</a>
      <a ui-sref="slides.thermodynamics-1" class="btn btn-lg btn-warning">Termodinamica 1/2</a>
      <a ui-sref="slides.thermodynamics-2" class="btn btn-lg btn-warning">Termodinamica 2/2</a>
      <hr>
      <a ui-sref="slides.electrostatics" class="btn btn-lg btn-info">Elettrostatica</a>
    </div>
    <div class='well'><h4>Risultati esami</h4>
      <a ui-sref="score-1" class="btn btn-lg btn-danger">Novembre 2014</a>
      <a ui-sref="score-2" class="btn btn-lg btn-danger">Dicembre 2014</a>
      <a ui-sref="score-3" class="btn btn-lg btn-danger disabled">Gennaio 2015</a>
    </div>

  </div>
</div>
