<section>
    <h3>Elettrostatica</h3>
    <ul>
        <li>Inquadramento storico</li>
        <li>Origine dell'elettrizzazione dei corpi;</li>
        <li>Conduttori e isolanti;</li>
        <li>Legge di Coulomb;</li>
        <li>Campo elettrico.</li>
    </ul>
</section>
<section>
    <section>
        <h3>Inquadramento storico</h3>
        <ul>
            <li>Già nel VI secolo a.C. il filosofo greco Talete di Mileto aveva notato che un pezzetto di ambra (in greco élektron, da cui deriva il termine elettricità) strofinato con un panno di lana acquista la capacità di attrarre corpi leggeri (per esempio, piccole pagliuzze).</li>
            <li>Nel 1897, il fisico inglese John Joseph Thomson scoprì l'elettrone, una particella di massa molto piccola (\(10^{−30}\) kg) che ha carica negativa.</li>
            <li>In seguito si comprese che tutti gli atomi contengono due tipi di particelle cariche:
                <ul>
                    <li>gli elettroni, con carica negativa;</li>
                    <li>i protoni, con carica positiva.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Esperimenti Elettrostatici</h3>
        <iframe width="100%" height="520" src="//www.youtube.com/embed/bDRk75HC-lI" frameborder="0" allowfullscreen></iframe>
    </section>
</section>
<section>
    <section>
        <h3>Origine dell'elettrizzazione dei corpi</h3>
        <ul>
            <li>Un atomo è elettricamente neutro perché il numero dei protoni, particelle con carica positiva, è uguale al numero di elettroni, particelle con carica negativa;</li>
            <li>L'elettrizzazione di un corpo si può ottenere anche con tre metodi differenti:
                <ul>
                    <li>per strofinio;</li>
                    <li>per contatto;</li>
                    <li>per induzione.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Elettrizzazione per strofinio 1/2</h3>
        <ul>
            <li>Se strofiniamo due bacchette di vetro con un panno di lana e le avviciniamo tra loro, tenderanno a respingersi;</li>
            <li>Se invece strofiniamo una bacchetta di vetro e una di plastica, queste tenderanno ad attrarsi;</li>
            <li>Esistono quindi due tipi di elettrizzazione o di carica elettrica, che furono chiamati positiva e negativa dallo scienziato americano Benjamin Franklin (1706-1790).</li>
        </ul>
    </section>
    <section>
        <h3>Elettrizzazione per strofinio 2/2</h3>
        <ul>
            <li>L'elettricità non si crea con lo stofinio;</li>
            <li>L'elettricitò rappresenta qualche cosa che un corpo cede all'altro, in modo tale che la quantità complessiva rimanga sempre la stessa;</li>
            <li>I metalli in genere, se strofinati non risultano elettrizati a meno che non si usi l'accorgimento di isolarli;</li>
            <li>Il comportamento dei metalli è molto diverso da quello di altre sostanze.</li>
        </ul>
    </section>
    <section>
        <h3>Elettrizzazione per contatto</h3>
        <ul>
            <li>Abbiamo un primo conduttore, carico, che impugniamo con un manico isolante, e un secondo conduttore neutro.</li>
            <li>Mettendo in contatto i due conduttori, parte della carica del primo passa sul secondo. Ora anch'esso è carico.</li>
        </ul>
        <img src="src/images/elettrostatica-contatto.png">
    </section>
    <section>
        <h3>Elettroscopio</h3>
        <ul>
            <li>Se si tocca la sferetta con un oggetto elettrizzato, parte della carica passa all'asta e, così, si distribuisce in tutto il dispositivo fino alle foglioline.</li>
            <li>Le foglioline risultano cariche dello stesso segno e si respingono. Così, la loro divaricazione attesta che l'oggetto in esame è elettricamente carico.</li>
            <li>Un oggetto è carico se, messo a contatto con l'elettroscopio, fa divaricare le sue foglie.</li>
        </ul>
        <img src="src/images/elettroscopio.png">
    </section>
    <section>
        <h3>Elettrizzazione per induzione</h3>
        <div class="media">
            <img class="pull-right media-object" src="./src/images/induzione.png">
            <div class="media-body">
                <ul>
                    <li>La bacchetta di plastica, carica negativamente, respinge gli elettroni che sono liberi di muoversi dentro la sfera conduttrice;</li>
                    <li>La superficie della sfera vicina alla bacchetta diventa positiva (mancano elettroni), mentre la superficie lontana diventa negativa (ci sono più elettroni).</li>
                </ul>
            </div>
        </div>
        <ul>
            <li>Per la legge di Coulomb, l'attrazione tra cariche vicine è maggiore della repulsione tra cariche lontane: quindi la sfera è attratta verso la bacchetta.</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>I conduttori e gli isolanti 1/3</h3>
        <ul>
            <li>Le sostanze come la plastica, che si caricano sempre quando sono strofinate, si chiamano isolanti elettrici.</li>
            <li>Le sostanze come i metalli o il nostro corpo, che si comportano in modo diverso, si dicono conduttori elettrici.</li>
            <li>Questa distinzione non è assoluta: tutte le sostanze possono essere ordinate secondo la capacità di trattenere, o di lasciare fluire, le cariche elettriche.</li>
        </ul>
    </section>
    <section>
        <h3>I conduttori e gli isolanti 2/3</h3>
        <ul>
            <li>Gli esperimenti di strofinio possono essere spiegati facendo queste ipotesi:
                <ul>
                    <li>Negli isolanti tutte le cariche occupano delle posizioni fisse e non possono spostarsi;</li>
                    <li>Nei conduttori vi sono cariche elettriche che si muovono liberamente.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>I conduttori e gli isolanti 3/3</h3>
        <ul>
            <li>Nei conduttori metallici vi sono degli elettroni liberi, che si spostano con facilità da un atomo all'altro.</li>
            <li>In un isolante, invece, gli elettroni sono molto legati ai protoni dell'atomo e difficilmente se ne allontanano.</li>
            <li>Nei cavi che trasportano l'energia elettrica, gli elettroni si muovono lungo il filo di metallo e non si scaricano a terra attraverso il traliccio, perchè tra i fili e il traliccio ci sono gli isolatori, costituiti da materiale isolante.</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Il coulomb</h3>
        <ul>
            <li>Nel Sistema Internazionale l’unità di misura della carica elettrica è il coulomb (simbolo C)</li>
            <li>Tutti gli elettroni dell'Universo hanno la stessa carica (negativa) −e, il cui valore numerico è \(-1,6022 x 10^{−19}\) C.</li>
            <li>Finora non è mai stata osservata una carica più piccola di quella dell'elettrone e tutte le particelle elementari conosciute hanno una carica che è un multiplo (positivo o negativo) della carica elettrica elementare e. </li>
        </ul>
    </section>
    <section>
        <h3>Legge di Coulomb 1/2</h3>
        <ul>
            <li>Consideriamo due corpi puntiformi e indichiamo con \(Q_1\) e con \(Q_2\) le cariche elettriche che si trovano su di essi.</li>
            <li>La forza elettrica che si esercita tra di esse è descritta dalla legge di Coulomb, secondo cui il valore della forza elettrica tra due cariche puntiformi è:
                <ul>
                    <li>Direttamente proporzionale a ciascuna carica;</li>
                    <li>Inversamente proporzionale al quadrato della loro distanza.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Legge di Coulomb 2/2</h3>
        <ul>
            <li>La legge di Couomb è riassunta dalla formula:
\[
F = K * \frac{Q_1 * Q_2}{r^2}
\]
            </li>
            <li>Se le cariche sono nel vuoto, la costante di proporzionalità \(k_0\) vale:
\[
k_0 = 8,99 * 10^{9} \frac{N * m^2}{C^2}
\]
            </li>
        </ul>
    </section>
    <section>
        <h3>Direzione e verso della forza</h3>
        <ul>
            <li>La direzione della forza elettrica è quella della retta che congiunge le due cariche puntiformi;</li>
            <li>Il verso è repulsivo (verso l'esterno) se le due cariche hanno lo stesso segno e attrattivo (verso l'interno) se le cariche hanno segni diversi.</li>
            <li>Ciò è espresso anche dalla legge di Coulomb: se \(Q_1\) e \(Q_2\) hanno lo stesso segno, F risulta positiva (forza repulsiva); invece, se \(Q_1\) e \(Q_2\) hanno segni diversi, F risulta negativa (forza attrattiva).</li>
        </ul>
    </section>
    <section>
        <h3>La costante dielettrica</h3>
        <ul>
            <li>&Egrave; abituale scrivere la costante \(k_0\) della legge di Coulomb come:
\[
K_0 = \frac{1}{4 * \pi * \varepsilon_0}
\]
            </li>
            <li>dove \(\varepsilon_0\) è detta costante dielettrica assoluta del vuoto (o, più semplicemente, costante dielettrica del vuoto).</li>
            <li>Il suo valore numerico, ottenuto ricavando \(\varepsilon_0\) da \(k_0\), è: \(\varepsilon_0 = 8,854 * 10^{−2} C^{2} N * m^ 2 \)
\[
F_{0} = \frac{1}{4 * \pi * \varepsilon_0}\frac{Q_1 * Q_2}{r^2}
\]
            </li>
        </ul>
    </section>
    <section>
        <h3>La forza di coulomb nella materia</h3>
        <ul>
            <li>In un mezzo materiale isolante (per esempio, nell'acqua o dentro il vetro), a parità di cariche e di distanza misuriamo una forza di Coulomb minore della forza \(F_0\) che agisce nel vuoto.
\[
F_m = \frac{1}{4 * \pi * \varepsilon_0 * \varepsilon_r} * \frac{Q_1 * Q_2}{r^2}
\]
            </li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Il vettore campo elettrico 1/2</h3>
        <ul>
            <li>La forza che si esercita tra due corpi carichi è una forza a distanza, come quella gravitazionale che si esercita tra due masse.</li>
            <li>In entrambi i casi, non è chiaro come sia possibile che un corpo che si trova in un punto A possa avvertire un effetto elettrico (o gravitazionale) dovuto a un secondo corpo situato in un punto B</li>
            <li>Per risolvere questa difficoltà si interpretano i dati sperimentali introducendo il concetto di campo.</li>
        </ul>
    </section>
    <section>
        <h3>Il vettore campo elettrico 2/2</h3>
        <ul>
            <li>Il concetto di campo elettrico è costruito a partire da due idee:
                <ul>
                    <li>la presenza di una carica elettrica \(Q_1\) modifica le caratteristiche dello spazio che la circonda;</li>
                    <li>la carica \(Q_2\) avverte una forza elettrica, che è dovuta alle nuove proprietà della zona di spazio in cui essa si trova.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Metafora del telo elastico</h3>
        <div class="media">
            <img class="pull-right media-object" src="./src/images/metafora-campo.png">
            <div class="media-body">
                <ul>
                    <li>Per chiarire il concetto si può utilizzare la metafora del telo;</li>
                    <li>La carica \(Q_1\) è rappresentata in questo modello da una prima sfera che, appoggiata sul telo, ne cambia la forma;</li>
                </ul>
            </div>
            <ul>
                <li>La carica \(Q_2\) si muove verso la prima come se fosse attirata da essa;</li>
                <li>In realtà la seconda sfera segue soltanto l'inclinazione della zona di telo in cui si trova;</li>
                <li>L'interazione non avviene direttamente tra la prima sfera e la seconda, ma è "comunicata" a distanza grazie alle proprietà dello spazio in cui le due sfere sono immerse.</li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Definizione del vettore campo elettrico 1/3</h3>
        <ul>
            <li>Consideriamo il campo elettrico generato da un sistema di n cariche puntiformi;</li>
            <li>Vogliamo caratterizzare in modo quantitativo le proprietà di tale campo in un punto P in cui non si trova alcuna carica.</li>
            <li>Inseriamo una carica di prova \(q^{+}\) nel punto P scelto</li>
        </ul>
    </section>
    <section>
        <h3>Definizione del vettore campo elettrico 2/3</h3>
        <ul>
            <li>Una carica di prova è una carica elettrica puntiforme, abbastanza piccola da non modificare, a causa delle forze che essa esercita, il sistema fisico che si intende studiare.</li>
            <li>La forza \(\vec{F}\) che agisce sulla carica di prova dipende:
                <ul>
                    <li>dalle cariche che generano il campo (quantità e posizione);</li>
                    <li>dal punto P (in un altro punto la forza sarebbe differente);</li>
                    <li>dal valore della carica di prova (se la carica di prova fosse più grande, anche la forza sarebbe maggiore).</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Definizione del vettore campo elettrico 3/3</h3>
        <ul>
            <li>Vogliamo definire una grandezza che descriva l'interazione elettrica in ogni punto dello spazio, ma che non dipenda dalla particolare carica di prova che usiamo.</li>
            <li>Conviene quindi introdurre una grandezza unitaria, che si ottiene dividendo la forza \(\vec{F}\) per la carica di prova \(q^{+}\).</li>
            <li>Questa nuova grandezza si chiama vettore campo elettrico:
\[
\vec{E} = \frac{\vec{F}}{q^{+}}
\]
            </li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Il calcolo della forza</h3>
        <ul>
            <li>Se conosciamo il campo elettrico, siamo in grado di calcolare la forza che agisce su qualsiasi carica.</li>
            <li>Moltiplicando per q i due membri della definizione di \(\vec{E}\) , isolando l'incognita \(\vec{F}\), si ottiene:
\[
\vec{F} = q * \vec{E}
\]
            </li>
        </ul>
    </section>
    <section>
        <h3>Direzione del campo elettrico</h3>
        <ul>
            <li>Supponiamo di avere un campo elettrico generato da una carica positiva.</li>
            <li>Se la carica q è positiva, il campo elettrico e la forza hanno la stessa direzione e lo stesso verso.</li>
            <li>Se la carica q è negativa, il campo elettrico e la forza hanno la stessa direzione e versi opposti</li>
        </ul>
        <img src="src/images/campo-elettrico-direzione.png">
    </section>
</section>